<h2>All Categories</h2>

<%= form_tag search_categories_path, method: :get do %>
  <%= text_field_tag :search_keywords %>
  <%= submit_tag 'Search' %>  
<% end %>
  
<% @categories.each do |category| %>
  <div>   
    
    <p><strong>Category - </strong>
      <%= link_to category.name, show_categories_path(category) %></p> 
    
<% end %>



