<h2>Contact Us</h2>

<% @contacts.each do |contact| %>
  <div>
    <p><strong>Address: </strong>
      <%= contact.address %></p>
    
    <p><strong>Phone: </strong>
       <%= contact.phone %></p>
    
    <p><strong>Email Address: </strong>
       <%= contact.email %></p>   
      
  </div>
<% end %>